
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background:  #62e70a;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
    text-align: center;
    box-shadow: 30px 20px 30px 20px rgba(159, 201, 8, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e61e1e;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 3px 2px 3px 1px rgba(241, 6, 6, 0.2);
  }
   
  body {
    justify-content: center;
    width: 500px;
    padding: 25;
    background-color: rgb(238, 19, 19);
    text-align: center;
    margin: 0 auto;
}
.contaides {
    justify-content: center;
    width: 80px;
    padding: 25px;
    background-color: rgb(92, 160, 219);
    text-align: center;
}


.form{
    background-color: rgb(155, 227, 236);

}
.thead{
    background-color: rgb(255, 0, 119);
}
h1 {
  color: #f00808;
}